{
  "extends": "google",
  "parserOptions": {
    "ecmaVersion": 2018
  },

  "env": {
    "es6": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "require-jsdoc": "off",
    "arrow-parens": [1, "as-needed"],
    "object-curly-spacing": [1, "always"],
    "max-len": [
      1,
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreUrls": true,
        "ignorePattern": "^goog.(module|require)"
      }
    ]
  }
}
